checkpoint
.project
.pydevproject
PlyReader.pyc
PlyReader.py~
convNN.pyc
convnnutils.pyc
convolutionalMNIST.py
dataCreator.pyc
patchTest.py
plots/
plotutils.pyc
sampling.pyc
utils.pyc
bunny_*
figures/
points/
fpfh/
obj/
plytest/
points_arm.npy
points_budah.npy
points_dragon.npy
points_drill.npy
points_model.npy
points_vase.npy
plyTest.py
.idea/
.nohup.out.swp
caller.out
caller.py~
cluster_points.pyc
data/
dataset_creator.out
example.log
files_file.txt
files_file2.txt
files_file3.txt
files_file3.txt~
laser/
matchTest.pyc
nohuppy.out
off2obj.py
plys/
points1/
precision.txt
precision.txt~
precision_scene.txt
printall.py
prints.out
recall.txt
recall.txt~
recall_scene.txt
results.txt
results.txt~
results_scene.txt
retrieval_dataset/
shapenet/
shrec15/
temp/
temp1/
temp_1100/
train_clusters.out
train_clusters.py
