checkpoint
.project
.pydevproject
PlyReader.pyc
PlyReader.py~
convNN.pyc
convnnutils.pyc
convolutionalMNIST.py
dataCreator.pyc
patchTest.py
plots/
plotutils.pyc
sampling.pyc
utils.pyc
bunny_*
figures/
points/
fpfh/
obj/
plytest/
points_arm.npy
points_budah.npy
points_dragon.npy
points_drill.npy
points_model.npy
points_vase.npy

